OME_USER=$HOME
# Local do arquivo de configuracao das instancia ativas
ORAT=/etc/oratab
# Variaveis para controle de retencao
# A variavel abaixo "COMPRESS_AFTER_DAYS" com valor "1" apenas habilita a compressao.
# use 0 to disable
COMPRESS_AFTER_DAYS=1
DELETE_AFTER_DAYS=90
DELETE_DIR_AFTER_DAYS=90
DELETE_AUDIT_AFTER_DAYS=90
DELETE_TRACE_AFTER_DAYS=90
DELETE_LOGS_AFTER_DAYS=90
DELETE_LOGS_BACKUP_RMAN=0
